<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <!-- 주석입니다.-->
        <h1 style="color: red;">Hello World!</h1>
        <h2>Hello World!</h2>
        <h3>Hello World!</h3>
        <h4>Hello World!</h4>
        <h5>Hello World!</h5>
        <h6>Hello World!</h6>
        <p>안녕하세요 반갑습니다.</p>
        <p>안녕히가세요. 즐거웠습니다.</p>
        <a href="https://www.naver.com">NAVER</a>
        <br />
        <hr />
        <img alt="Harry kane" src = "Kane_Spurs.jpg"/>
        <img src = "../../asset/Kane_Spurs.jpg" width="300" height="300"/>
    </body>
</html>